#Derecha{
    background-color: rgb(62, 67, 92);
    border-width: 1px;
    border-style: dashed; 
    width: 25%;
    position: absolute;
    right: 0.5%;
    top: 29%;
}

body{
    background-image: url("../Imagenes/fondo.png");
    background-position: 50% 50%;
    background-attachment: fixed;  
}

#Contenido{
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border-color: black;
    border-style: double;
    margin-left: 10px; 
    width: 55%;
    padding: 5px 20px;
    float: left;
}

