#Derecha{
    background-color: rgb(164, 165, 168);
    border-width: 3px;
    border-style: solid;
    border-color: beige; 
    width: 25%;
    position: absolute;
    right: 0.5%;
    top: 29%;
}


#TipoLetra{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Contenido{
    background-color: rgb(60, 83, 110);
    border-width: 3px;
    border-color: antiquewhite;
    border-style: ridge;
    margin-left: 7px; 
    width: 55%;
    padding: 5px 20px;
    float: left;
}

#DerechaCont{
    background-color: rgb(164, 165, 168);
    border-width: 3px;
    border-style: solid;
    border-color: beige; 
    width: 25%;
    position: absolute;
    right: 0.5%;
    top: 29%;
}

.Noticias{
    margin-left: 85px;
    width: 200px;
    height: 200px;
}